<div class="container">
    <mat-sidenav-container class="side-nav-container" >
        <mat-progress-bar  [mode]="modeSpinner" color="primary"></mat-progress-bar>
        <mat-sidenav class="side-nav" #drawer mode="over" opened>
            <button mat-button *ngFor="let item of listProc; let i = index" (click)="onClick(i)" (click)="drawer.toggle()">
                {{item.display}}
            </button>
        </mat-sidenav>
        <div class="example-sidenav-content">
            <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon class="mat-24">toc</mat-icon>
            </button>
        </div>
        <div *ngIf="selectorName!=null">
            <div class="testing-process">
                <h3>{{selectorName}}</h3>
                <div class="run-button">
                    <input type="file" (change)="getFile($event)" multiple accept=".json">
                    <button mat-button *ngIf="modeSpinner=='paused'" [disabled]="modeSpinner=='determinate' || modeSpinner!='paused'" (click)="task(listTask.length,self)">Continue testing</button>
                    <button mat-button *ngIf="modeSpinner=='determinate' || modeSpinner=='paused'" (click)="runClick()" id="runBt" >Run</button>
                    <mat-progress-spinner *ngIf="modeSpinner=='indeterminate'" [diameter]="50" style="margin:0 auto" [mode]="modeSpinner" color="primary"></mat-progress-spinner>
                </div>
            </div>
            <div class="result" *ngIf="listTask!=null">
                <table align="center">
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let item of listTask">
                        <td>{{item.name}}</td>
                        <td>
                            <p *ngIf="item.state=='STATE_READY'">
                                 Loading...
                            </p>
                            <p *ngIf="item.state=='Passed'" style="color:green">
                                {{item.state}}
                            </p>
                            <p *ngIf="item.state=='Failed'" style="color:red">
                                {{item.state}}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-sidenav-container>
</div>
