<div class="container">
    <div class="process-button">
        <button mat-button [matMenuTriggerFor]="menuRef">
            <h4>BUSINESS PROCESS</h4>
        </button>
    </div>
    <mat-menu #menuRef="matMenu">
        <button mat-menu-item *ngFor="let item of listProc; let i = index" (click)="onClick(i)">
            {{item.display}}
        </button>
    </mat-menu>
    <div *ngIf="selectorName!=null">
        <div class="testing-process">
            <h3>{{selectorName}}</h3>
            <div class="run-button">
                <button mat-button (click)="runClick()" id="runBt">Run</button>
                <mat-progress-spinner class="startSpinner" [mode]="modeSpinner" color="primary"></mat-progress-spinner>
            </div>
        </div>
        <div class="result">
            <mat-list >
                <mat-list-item class="taskButton" *ngFor="let item of listTask">
                    <button mat-button >{{item.displayName}}</button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
