<h3>LOAN PROCESS</h3>
<button mat-button (click)="runClick()" id="runBt">Run</button>
<mat-vertical-stepper>
    <mat-step *ngIf="listTask.length > 0"  label= {{listTask[0].displayName}}>
      <form [formGroup]="rForm" class="form-container" >
        <form formGroupName="loanData">
            <mat-form-field>
                <input matInput formControlName="amount" placeholder="Amount">
              </mat-form-field>
              <mat-form-field>
                  <mat-select formControlName="reason" placeholder="Reason">
                      <mat-option *ngFor="let item of reason" [value]="item">{{item.value}}</mat-option>
                  </mat-select>
              </mat-form-field>
        </form>
          <mat-form-field>
            <mat-select formControlName="isSubmitted" placeholder="Submitted">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="finishTask(listTask[0],rForm.value)">Complete</button>
      </form>
      <button mat-button (click)="checkState(instanceID, listTask)" matStepperNext>Next</button>
    </mat-step>
    <mat-step *ngIf="listTask.length >1" label = {{listTask[1].displayName}}>
      <!--<button mat-button (click)="finishTask(listTask[1])" >Complete</button>
      <button mat-button (click)="checkState(instanceID, listTask)" matStepperNext>Next</button>-->
    </mat-step>
    <mat-step *ngIf="listTask.length >2" label = {{listTask[2].displayName}}>
      Step 3
    </mat-step>
</mat-vertical-stepper>
