h3{
    text-align: center;
    padding-top: 65px;
}
#runBt{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 64px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }