<h3>LOAN PROCESS</h3>
<button mat-button (click)="runClick()" id="runBt">Run</button>
<mat-vertical-stepper>
  <!-- step1-->
    <mat-step *ngIf="listTask.length > 0"  label= {{listTask[0].displayName}}>
      <form [formGroup]="step1Form">
        <form formGroupName="loanData">
            <mat-form-field>
                <input matInput formControlName="amount" placeholder="Amount">
              </mat-form-field>
              <mat-form-field>
                  <mat-select formControlName="reason" placeholder="Reason">
                      <mat-option *ngFor="let item of reason" [value]="item">{{item.value}}</mat-option>
                  </mat-select>
              </mat-form-field>
        </form>
          <mat-form-field>
            <mat-select formControlName="isSubmitted" placeholder="Submitted">
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>
      </form>
      <!--<form>
        <mat-form-field *ngFor="let item of taskParams">
          <input matInput placeholder={{item}}>
        </mat-form-field>
      </form>
      <button mat-button (click)="checkItem()">Complete</button>-->
      <button mat-button (click)="finishTask(listTask[0],step1Form.value)">Complete</button>
      <button mat-button (click)="checkState(instanceID, listTask)" matStepperNext>Next</button>
    </mat-step>
    <!-- step2-->
    <mat-step *ngIf="listTask.length >1" label = {{listTask[1].displayName}}>
      <form [formGroup]="step2Form">
        <mat-form-field>
          <mat-select formControlName="isApproved" placeholder="Approval">
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-button (click)="finishTask(listTask[1],step2Form.value)">Complete</button>
      <button mat-button (click)="checkState(instanceID, listTask)" matStepperNext>Next</button>
    </mat-step>

    <!--step 3-->
    <mat-step *ngIf="listTask.length >2" label = {{listTask[2].displayName}}>
        <form [formGroup]="step3Form">
            <mat-form-field>
              <mat-select formControlName="isApproved" placeholder="Approval">
                  <mat-option value="true">Yes</mat-option>
                  <mat-option value="false">No</mat-option>
              </mat-select>
            </mat-form-field>
        </form>
      <button mat-button (click)="finishTask(listTask[2],step3Form.value)">Complete</button>
      <button mat-button (click)="checkState(instanceID, listTask)" matStepperNext>Next</button>
    </mat-step>
</mat-vertical-stepper>
