<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav-container content" mode="side" opened="true">
    <mat-expansion-panel class="api-list" *ngFor="let api of apiList | async" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{api.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel class="api-group" *ngFor="let apiGroup of api.childs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{apiGroup.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel class="api-item" *ngFor="let apiItem of apiGroup.childs">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{apiItem.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button type="button" class="callBt">
            Call
          </button>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-sidenav>
<!--...............-->
  <div class="sidenav-container content-button">
    <button type="button" mat-button (click)="sidenav.toggle()">
      <mat-icon>home</mat-icon>
    </button>
  </div>

</mat-sidenav-container>
